@model TeamKaminariAdmin.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Forename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        
        <dt>@Html.DisplayNameFor(model => model.Street)</dt>
        <dd>@Html.DisplayFor(model => model.Street)</dd>
        
        <dt>@Html.DisplayNameFor(model => model.Town)</dt>
        <dd>@Html.DisplayFor(model => model.Town)</dd>
        
        <dt>@Html.DisplayNameFor(model => model.PostCode)</dt>
        <dd>@Html.DisplayFor(model => model.PostCode)</dd>
        
        <dt>@Html.DisplayNameFor(model => model.Dob)</dt>
        <dd>@Html.DisplayFor(model => model.Dob)</dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.MedicalInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LicenseNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenseNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiabilityWaiver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiabilityWaiver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoRelease)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoRelease)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayingMonthly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayingMonthly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicensePaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicensePaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicenseResetDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenseResetDate)
        </dd>
        <dt>
            Belts Achieved
        </dt>
        <dd>
            @Html.ActionLink("Belts", "CustomerBelts", "Customers", new { customerId = Model.CustomerId }, null)
        </dd>
    </dl>

    <h4>Emergency Contacts</h4>
    <hr />
    <dl class="dl-horizontal">
        @for (var i = 0; i < Model.EmergencyContacts.Count; i++)
        {
            <dt>
                @Html.DisplayNameFor(model => model.EmergencyContactList[i].Forename)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmergencyContactList[i].Forename)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmergencyContactList[i].Surname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmergencyContactList[i].Surname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmergencyContactList[i].Tel1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmergencyContactList[i].Tel1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmergencyContactList[i].Tel2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmergencyContactList[i].Tel2)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
